@using QuanLySinhVien.Models
@model IEnumerable<QuanLySinhVien.Models.ExerciseContent>
@{
    ViewData["Title"] = "ViewExerciseContent";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    // List<UploadAssignment> IsUploadAssignment = ViewBag.UploadAssignment;
}

 @if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <hr />

        <a href="/chi-tiet-thuc-hanh/@item.Alias-@item.Id" >@item.Title</a>
    
        <br />
        <span>
            @item.Description
        </span>
     @*    @foreach (var item_UploadAssignment in IsUploadAssignment)
        {
            if (item_UploadAssignment.ExerciseContentId != item.Id && item_UploadAssignment.AccountId != ViewBag.GetIdAccount)
            {
                
                <form action="/CourseStudents/UploadAssignment/@item.Id" class="dropzone" id="my-dropzone">
                </form>
            }
            else
            {
                <div>Đã nộp bài</div>
            }
        } *@
        <form action="/UploadAssignment/UploadAssignment/@item.Id" class="dropzone" id="my-dropzone">
        </form>

       
       
        <hr />

    }
}

@section Scripts{

    <script>
        Dropzone.options.myDropzone = {
            init: function () {
                this.on("complete", function (file) {
                    console.log(file.name + " uploaded");
                });
            },
            sending: function (file, xhr, formData) {
                formData.append("additionalData", "Additional data goes here");
            }
        };
    </script>


}

