@using QuanLySinhVien.Models
@model QuanLySinhVien.Models.Course
@{
    ViewData["Title"] = "ViewDetail_Course";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    List<CourseContent> IsCourseContents = ViewBag.IsCourseContent;

}
 

@*PARTIAL VIEW CourseContents*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">khóa học</a></li>

        <li class="breadcrumb-item active" aria-current="page">@ViewBag.TitleCourse - @ViewBag.NameGv</li>
    </ol>
</nav>
<h3>@ViewBag.TitleCourse - @ViewBag.NameGv</h3>
<a class="btn btn-outline-info" href="/Member_Course/@ViewBag.IdCourse">Xem thành viên</a>
<br />
@await Html.PartialAsync("_PartialCourseContents",IsCourseContents)




@section Scripts{

    <script>
       
    </script>


}



