@model IEnumerable<QuanLySinhVien.Models.CourseMember> 
<style>
    .colortext{
        color:white;
    }

    nav .dropdown:hover .dropdown-menu {
        display: block;
    }
 </style>
<img width="1519px" height="150px" src="~/images/th.jpg" />
<br />
<nav class="navbar navbar-expand-lg" style="background:#82b8de">
 
  
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link colortext" href="/HomeStudent">Home</a>
                  </li>
                   <li class="nav-item">
                <a class="nav-link colortext" href="#">All Courses</a>
                  </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Courses 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   
                    @foreach (var item in Model)
                    {
                        <a class="dropdown-item" href="/details/@item.Course.Alias-@item.Course.Id">@item.Course.Title </a>
                    }
                   
                </div>
            </li>
        
                </ul>
              </div>
            </nav>


