 <style>
    .colortext{
        color:white;
    }
 </style>
<img width="1519px" height="200px" src="~/images/elearning.jpg" />
<nav class="navbar navbar-expand-lg" style="background:#6495ED">
 
  
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
              </button>
  
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                <a class="nav-link colortext" href="/HomeLecturers">Trang chủ</a>
                  </li>
                 
                  <li class="nav-item">
                <a class="nav-link colortext" href="/CourseLecturers/index">Các khóa học</a>
                  </li>
                  <li class="nav-item">
                <a class="nav-link colortext" href="/CourseLecturers/create">Tạo khóa học</a>
                  </li>
                  @*<li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Về chúng tôi</a>
                  </li>*@
                </ul>
              </div>
            </nav>


