

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      @*  <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>*@
    </div>
   


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      
          



           
            <li class="nav-item">
                <a href="/admin/Department/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Khoa
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/Course/index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Khóa học
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>

             <li class="nav-item">
                <a href="/admin/SemesterCourse/index" class="nav-link">
                   <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Học kỳ
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/CourseMember/create" class="nav-link">
                   <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thêm vào khóa học
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            
           

            <li class="nav-item">
                <a href="/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý tài khoản
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/Role/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Phân quyền</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/Accounts/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tài khoản </p>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="/admin/SettingSystem/index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Cấu hình hệ thống
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="dang-nhap.html" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                       Đăng nhập
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="logout.html" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->


@*@if (Request.IsAuthenticated)
{
<div style="display:none">
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
    {
    @Html.AntiForgeryToken()
    }

</div>
}
*@